/* overwrite the BlocksMenuOptions width */
.ge-block-menu .BlocksMenuOptions-sc-1u4drqe {
  min-width: 300px !important;
}

// overwrite the model popup width
.PopupModal-sc-hygjqb {
  width: 50% !important;
}

.button-secondary,
.button-primary {
  text-transform: uppercase;
  width: max-content;
}

button.button-primary.button-position {
  position: fixed;
  top: 12px;
  left: 180px;
  z-index: 9999;
  font-size: 13px !important;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-family: 'Inter', sans-serif;
}

.buttonwrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.user {
  text-align: center;
  padding: 60px 0;
  height: 33vh;
  min-height: 20rem;
}


.light {
  .card-content {
    background-color: var(--ge-grey);
  }

  .geTitledParagraph,
  .geSpacer {
    background-color: var(--ge-white);
  }

  h5 {
    color: var(--ge-primary-blue);
  }

  h2 {
    margin-top: 20px;
  }
}


.dark {
  background-color: var(--ge-dark-indigo);
  color: var(--ge-white);

  .description,
  .geSpacer,
  .geTitledParagraph {
    color: var(--ge-white);
  }

  h2 {
    margin-top: 20px;
  }

  h5 {
    color: var(--ge-primary-blue);
  }

  .card-content {
    background-color: var(--ge-dark-indigo);
  }

}

// content-left-right-image-block

 
// Layout variations
.image-left {
  .image-wrapper {
    clear: none;
    margin-left: 0;
    order: 1;
  }

  .text-wrapper {
    // float     : right;
    order: 2;
    padding-left: 10.2%;
    padding-right: 0;
  }
}

.image-right {
  .image-wrapper {
    clear: none;
    margin-right: 0;
    order: 2;
  }

  .text-wrapper {
     order: 1;
    padding-right: 10.2%;
    padding-left: 0;
  }
}

.image-wrapper {
  .video-feature {
    width: 120%;
    position: relative;

    iframe#iframing {
      min-height: 380px;
      height: 100%;
      width: 100%;
    }
  }

  .image-feature {
    position: relative;
    width: 120%;
    height: auto;

    img {
      border: 0;
      width: 100%;
      height: auto;
    }

    svg {
      background: #fff;
    }

    button {
      top: 0 !important;
      left: 0 !important;
    }
  }

}

.image-left {
  .image-wrapper {
    .video-feature {
      position: relative;
      left: -20%;
      width: 120%;
    }

    .image-feature {
      width: 120%;
      left: -20%;
    }
  }
}
@media screen and (max-width: 991px) {
  nav.ge-menu-main a#ge-stock-ticker {
    color: var(--ge-white);
    width: 125px;
    margin: inherit;
    text-align: left;
}

div.mobile-navbar ul.list-unstyled.nav--list--level1 {
  padding-top: 40px !important;
}
}


// ge-unified search height
.hide-element {
  height:900px;
}
.search-icon .active-nav  {
  border: none;
}