/* overwrite the BlocksMenuOptions width */
.cHKrny {
  min-width: 300px !important;
}

.button-secondary,
.button-primary {
  text-transform: uppercase;
  width: max-content;
}

button.button-primary.button-position {
  position: fixed;
  top: 12px;
  left: 180px;
  z-index: 9999;
  font-size: 13px !important;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-family: 'Inter', sans-serif;
}

.buttonwrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.user {
  text-align: center;
  padding: 60px 0;
  height: 33vh;
  min-height: 20rem;
}


.dark {
  background-color: var(--ge-dark-indigo);
  color: var(--ge-white);

  .theme,
  .description,
  .geSpacer,
  .geTitledParagraph {
    color: var(--ge-white);
  }

  h2 {
    margin-top: 20px;
  }

  h5 {
    color: var(--ge-primary-blue);
  }

  .theme,
  .card-content {
    background-color: var(--ge-dark-indigo);
  }

}


.light {
  .theme,
  .card-content {
    background-color: var(--ge-grey);

  }

  .geTitledParagraph,
  .geSpacer {
    background-color: var(--ge-white);
  }

  h5 {
    color: var(--ge-primary-blue);
  }

  h2 {
    margin-top: 20px;
  }
}