/* overwrite the BlocksMenuOptions width */
.cHKrny {
    min-width: 300px !important;
}


.button-secondary,
.button-primary {
    text-transform: uppercase;
    width: max-content;
    
}

.buttonwrapper { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;  
    gap: 10px;
}

.user {
    text-align: center;
    padding: 60px 0;
    height: 33vh;  
    min-height: 20rem;
}


.dark {
    background-color: var(--ge-dark-indigo);
    color: var(--ge-white);
    .geSpacer,
    .geTitledParagraph {
      color: var(--ge-white);
    }
    h2 {
      margin-top: 20px;
  }

    h5 {
      color: var(--ge-primary-blue);
    }
  }


  .light {
    .geTitledParagraph, 
    .geSpacer{
    background-color: var(--ge-white);
    }
    h5 {
      color: var(--ge-primary-blue);
    }
    
    h2 {
      margin-top: 20px;
  }
  }