
.geContentLeftRightImage {
 position: relative;
  padding: 30px  0;


  .wp-block-button a:active, 
  .wp-block-button a:hover, 
  .wp-block-button a:link, 
  .wp-block-button a:visited {
  color: #fff  !important;
  }

  
  .image-feature {
    position: relative;
    width: 120%;
    height: auto;   
  }

  img.image {
    border: 0;
    width: 100%;
    height: auto;
  }

 
  // overlay
  .bg-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  //  video button
  .play-button {
    position        : absolute;
    width           : 96px;
    height          : 96px;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: var(--ge-light-blue);
    display         : table;
    cursor          : pointer;
    text-align      : center;
    z-index         : 4;
  }

  .play-button span {
    display       : table-cell;
    vertical-align: middle;
  }

  .play-button .ficon-play {
    color         : var(--ge-white);
    font-size     : .6rem;
    display       : inline-block;
    vertical-align: middle;
    border        : 1px solid var(--ge-white);
    border-radius : 50%;
    padding       : 20px;
  }

 .customBackground {
    position: absolute;
    width: 101%;
    height: 100%;
    background-size: cover;
}

  // Content section
  section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
   


    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }







  @media only screen and (max-width: 991px) {

    main {

      p {
        font-size: 16px;
        line-height: 1.55;
      }

    }

    .imageWrapper {
      padding: 0;
    }

    .imageRight {
      .imageFeature {
        position: relative;
        width: 107.9%;
        height: auto;
      }
    }

 
  }

  @media only screen and (max-width: 767px) {
    
    
    .contentwrapper {
      display: block !important;

      .textWrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
      }
  

      .imageWrapper {
        padding: 0;
        margin-top: 2em;

        .imageFeature {
          position: relative;
          width: 106.5%;
          height: auto;
        }
      }
    }


    .contentwrapper {
      display: block;

      .imageWrapper {
        padding: 0;
        margin-top: 2em;

        .imageFeature {
          position: relative;
          width: 106%;
          height: auto;
          left: -6.6%;
        }
      }
    }
  }
}
