
// The class name needs to match the names of the category and block
.geGrid {

  position: relative;
  //margin-top: 2em !important;
  //margin-bottom: 2em !important;
  //padding-top: 2em;
  min-height: 658px;

  div.grid-items.row {
  margin-top:60px;
}

  div.wp-block-custom-ge-small-article {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 992px) {
    div.wp-block-custom-ge-small-article {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (min-width: 1200px) {

  }

}
