
// The class name needs to match the names of the category and block
.geGrid {
  position: relative;
  height: auto;


.gridItems {
  display: grid;
  grid-template-columns: auto auto auto;
}

  div.wp-block-custom-ge-small-article {
    padding-left: 0;
    padding-right: 0;
  }


  .flex.flex-wrap.text-left [offset="10"] {
    width: 33%;
    flex-grow: 1;
    height: auto;
}

  @media (min-width: 992px) {
    div.wp-block-custom-ge-small-article {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (min-width: 1200px) {

  }

}
