
// The class name needs to match the names of the category and block
.geGrid {
  position: relative;
  height: auto;


.gridItems {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0 30px;
}

.gridTitle {
  padding-bottom: 30px;
}
  div.wp-block-custom-ge-small-article {
    padding-left: 0;
    padding-right: 0;
  }


  .flex.flex-wrap.text-left [offset="10"] {
    width: 33%;
    flex-grow: 1;
    height: auto;
}

  @media (max-width: 991px) {
    .gridItems {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 0 30px;
    }

  }

  @media (max-width: 767px) {
    .gridItems {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 0 0;
    }

  }


}
