.blogs, .reports, .articles {
    padding: 30px 0;

    .list {
        padding: 0;
    }
 
    .hero_image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .title {
        color: #1e2f46;
    }

}

